extends layout

block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    -var statuslist = statusdata
        #statuslist
            div
                h2=title
                a(href="/") Zurück zur Liste

                table
                    thead
                        th Datum
                        th Statuscode
                        th Response Time
                        tbody
                        each data in statusdata
                            tr
                                td=data.date
                                td=data.status
                                td=data.responsetime
                <br>
                a(href="/") Zurück zur Liste
