extends layout

block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    -var statuslist = statusdata
        #statuslist
            div
                h2=title
                a(href="/") Zurück zur Liste
                <br><br>
                <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Durchsuchen...">
                table#myTable
                    thead
                        tr.header
                            th Datum
                            th Statuscode
                            th Response Time
                    tbody
                        each data in statusdata
                            tr
                                td=data.date
                                td=data.status
                                td=data.responsetime + ' ms'
                <br>
                a(href="/") Zurück zur Liste
