doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/global.js')

        // Website LIST
        h2= title
        #websiteStatusData
            table
                thead
                    th Datum
                    th Status
                    th Response Time
                    tbody
        // /Website LIST
    // /WRAPPER
