body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

#statuslist div a {
  color: white;

  float:right;
}

#statuslist input {
    width:50%;
    margin-left: 10px;
    margin-bottom: 10px;
}

div p.title{
    margin:10px;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 20px;
}

#statuslist div {
	margin: auto;
    background-color: slategray;
    padding:5px;
    color: white;
    width: 70%;
    border:0px solid black;

}
#statuslist div input{
    padding: 10px;

}

    #statuslist div table {
	       border:0px solid red;
           background: white;
           color: black;
           width: 100%;
           border-collapse: collapse;
           margin-top: 10px;
     }
     #statuslist div table th {
 	       text-align: left;
           border: 1px solid black;
           background-color: slategray;
           color: white;
           padding: 10px;
      }
      #statuslist div table th.centered {
  	       text-align: center;

       }

      #statuslist div table tr {
           text-align: left;
           border: 1px solid black;
       }

        #statuslist div table tr td {
  	         text-align: left;
             border: 1px solid black;
             padding:10px;
         }
         #statuslist div table tr td.centered {
   	         text-align: center;

          }


         #websitelist div {
         	margin: auto;
             width: 70%;
             border: 0px solid black;
         }

             #websitelist div table {
         	        border:0px solid red;
                    background: white;
                    width: 100%;
                    border-collapse: collapse;

              }
              #websitelist div table th {
          	       text-align: left;
                   border: 1px solid black;
                   padding:10px;
                   background-color: slategray;
                   color:white;
               }
               #websitelist div table th.centered {
           	       text-align: center;

                }

               #websitelist div table tr {
                    text-align: left;
                    border: 1px solid black;
                    padding:10px;

                }

                 #websitelist div table tr td {
           	         text-align: left;
                      border: 1px solid black;
                      padding:10px;

                  }
                  #websitelist div table tr td.centered {
            	       text-align: center;


                   }


#addWebsite div {
    margin: auto;
    background-color: slategray;
    color: white;
    margin-top:10px;
     width: 70%;
     border-right: 1px solid black;
     border-left: 1px solid black;
     border-bottom: 1px solid black;
     border-top: 1px solid black;
}

#addWebsite div fieldset {
     border:0px solid black;
     padding-bottom:20px;
}
#addWebsite div fieldset input{
     border:1px solid black;
     padding:5px;
     margin-right:5px;
}

#addWebsite div fieldset button{
    padding:5px;
    height:25px;
     margin-right:5px;
}

#addWebsite div p {
     margin:none;
     padding:0px;
     padding-left:10px;
}
